<!DOCTYPE html>
<html>

<head>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="icon" href="/img/icon.png">
        <title>{{title}}</title>
</head>

<body>
        <div class="main-content">
                {{>header}}
                <p>{{errorMessage}}</p>

        </div>
        {{>footer}}

</body>

</html>